<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <h1>Sample App - <%= yield(:title) %> Page</h1>
<!--    <p><%= link_to "Home", "./app/views/static_pages/home.html.erb" %>
      <a href="help.html.erb"> Help </a>
      <a href="about.html.erb"> About </a>
      <a href="contact.html.erb"> Contact </a> </p>  -->
    <%= yield %>
  </body>
</html>
